@import url("reset.css");

body {
	color: #f859c0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background-color: #fbfbfb;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 1.6rem;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	margin: 0 0 1.6rem;
	color: rgb(216, 63, 216);
}

a {
	color: #05ad2a;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #f604d6;
	border-bottom: 2px solid #002348;
}

.container {
	width: 100%;
	max-width: 75%;
	margin-left: 10%;
	
}

.header {
	background-color: #64bcda;
	border-bottom: 8px solid #000000;
	margin-bottom: 3.2rem;
}

.header_logo {
	padding: 1.6rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_logo img{
	width: 100%;
	max-width: 420px;
}

.header_pub-info {
	margin: 0 0 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.main-article {
	background-color: #ade4fc;
	padding: 1.6rem;
	width: 100%;
	margin: 0 0 1.6rem;
}

.main-article_cover {
	margin: 0 0 1.6rem;
}

.main-article_cover .caption {
	color: #666666;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1;
}

.main-article_content h1 {
	font-size: 2rem;
}

.main-article_byline {
	margin: 0 0 1.6rem;
}

.main-sidebar {
	width: 100%;
	padding: 1.6rem;
	background-color: #323232;
	color: #ea35a4;
	margin: 0 0 1.6rem;
	font-size: 0.9rem;
}

.main-sidebar_thumb {
	margin: 0 0 0.8rem;
}

.main-sidebar_thumb .caption {
	color: #ee71d5;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1;
}

.main-sidebar li {
	margin: 0 0 1.6rem;
}

.main-sidebar_byline {
	margin: 0 0 1.6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}


.footer {
	text-align: center;
}

@media (min-width: 800px) {
	.header_pub-info {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.main-article {
		width: 60%;
		border-radius: 0.6rem;
		margin: 0;
	}

	.main-sidebar {
		width: 40%;
		border-radius: 0.6rem;
		margin: 0;
	}
	.container{
		display: flex;
		justify-content: space-between;
		gap: 1.6rem;
	}
}
